@model TestModel.Product

@{
    ViewBag.Title = "Buy";
}

<h2>Buy</h2>
<form method="post">
    <label>The quantity you want to buy:</label>
    <input type="text" name="quantity" id="quantity" />
    <input type="submit" value="Submit" />
</form>

